/* Root Variables */
:root {
  --primary-color: #E06900;
  --secondary-color: #63934D;
  --font-family: 'Urbanist';
  --hover-color: #e068008d;
  --hover-secondary-color: #63934d91;
  --color: #fff;
  --shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.495) !important;
  ;
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: var(--font-family);
}

body {
  font-family: var(--font-family);
}

.orange,
.nav-item-sol a {
  color: var(--primary-color);
}

/* Button Styles */
.button,
.button-orange-card,
.button-col,
.button-white {
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  font-family: var(--font-family);
  font-size: 0.9em;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: border-color 0.25s;
  width: 100%;
}


.button:hover {
  background-color: var(--hover-color);
}

.button-white {
  color: var(--primary-color);
  background-color: white;
}

.button-white:hover {
  background-color: rgba(193, 225, 255, 0.731);
}

.bg-orange,
.button,
.button-card,
.button-orange-card {
  background-color: var(--primary-color);
  color: white !important;
}

.button:hover,
.button-orange-card:hover,
.button-card:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

.accordion-button {
  background-image: none !important;
  padding: 0 !important;
  margin: 0 !important;
  gap: 0 !important;
}

.accordion-button:focus {
  z-index: 3 !important;
  outline: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  gap: 0 !important;
}

.accordion-button:not(.collapsed) {
  background-color: white !important;
  color: #e06800b5 !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  gap: 0 !important;
}


.button-col-dobra {
  width: 100%;

}

.full-width-button {
  display: block;
  text-align: center;
  width: 100%;
}

/* Accordion Styles */

.accordion {
  --bs-accordion-btn-icon: none !important;
  --bs-accordion-btn-active-icon: none !important;
}

.accordion-col {
  padding: 10px !important;
}

.custom-accordion .accordion-item {
  border: none !important;
}

.custom-accordion .accordion-header {
  font-weight: bold !important;
  display: flex !important;
  align-items: center !important;
  padding: 0.75rem 1.25rem !important;
}


.custom-accordion .accordion-body {
  padding: 0 !important;
  text-align: left !important;
}

/*Video Styles */

.video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  border-radius: 20px;
}

.video-wrapper-modal {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  border-radius: 20px;
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Header Styles */
.header {
  width: 100%;
  background-color: #F4F4F4;
  padding: 0 35px;
  position: fixed;
  z-index: 1049;
  overflow: hidden;
}

.logo-image-header {
  width: 100px;
  height: auto;
}

.nav-list {
  display: flex;
  justify-content: start;
  list-style: none;
  padding-left: 25px;
  width: 50%;
  font-family: var(--font-family);
  font-size: 18px;
}

.nav-item {
  margin: 0 10px;
  font-weight: 500;
}

.nav-item a {
  color: var(--primary-color);
  text-decoration: none;
  position: relative;
}

.nav-item a::after {
  position: absolute;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--primary-color);
  width: 0;
}

.nav-item a:hover::after,
.nav-item a.focused::after {
  width: 100%;
  transform: scaleX(1);
}

.nav-item a.focused::after {
  transform-origin: bottom right;
}

/* Carousel Controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  border: none;
}

.carousel-control-prev,
.carousel-control-next {
  filter: brightness(0) saturate(100%) invert(48%) sepia(85%) saturate(2351%) hue-rotate(0deg) brightness(101%) contrast(101%);
}

.carousel-indicators {
  padding: 0;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.carousel-indicators .active {
  background-color: darkred;
  opacity: 1;
}

/* Footer Styles */
.footer {
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--color);
  padding: 40px;
  box-shadow: var(--shadow);
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-col-f {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.footer-column {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-image {
  width: 150px;
  height: auto;
}



.form-check-input.check-danger:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.input-area-gleba {
  border: 1px solid #ccc;
  padding: 8px;
  width: 200px;
  font-family: var(--font-family);
  transition: border-color 0.3s;
}

.input-area-gleba:focus {
  border-color: var(--primary-color);
  outline: none;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container label {
  margin-right: 10px;
}

.custom-table-dados {
  text-align: center;
  justify-content: center;
}

.custom-table-dados td:not(:last-child) {
  border-right: 2px solid #00294f23;
}

.custom-modal .modal-dialog {
  z-index: 1050;
}



/* Layout */
.dobra {
  min-height: 95vh;
  padding: 40px;
  display: flex;
  font-family: var(--font-family);
}

.dobra-um {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.image-circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.faq-question {
  margin: 0 auto !important;
  max-width: 90%;
  text-align: justify !important;
  padding-left: 5%;
}

.icon-text {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
}

/* Whatsapp Icon and Float */
.whatsapp-icon {
  font-size: 30px;
  color: white;
}

.whatsapp-float {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  background-color: var(--primary-color);
  color: var(--color);
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: var(--shadow);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-icon {
  width: 25px;
  height: auto;
}

.selo-icon {
  width: 75px;
  height: auto;
}



.faq-icon {
  width: 40px !important;
  height: 40px !important;
  margin-right: 8px !important;
  vertical-align: middle !important;
  margin-right: 10px !important;
  flex-shrink: 0
}

.card {
  border-radius: 26px !important;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
  transform: scale(0.9);
  transition: transform 150ms ease-in, box-shadow 0.2s linear !important;
  background: white !important;
  box-shadow: var(--shadow) !important;
  -webkit-box-shadow: var(--shadow) !important;
  -moz-box-shadow: var(--shadow) !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0 !important
}

.card:hover {
  transform: scale(1);
  box-shadow: var(--shadow);
}

.card__header img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px 15px 0px 0px;
}

.card__body {
  text-align: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.card-icon {
  flex: 0 0 60px;
}

.card-gray {
  background-color: #F4F4F4;
  border-radius: 26px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 100%;
  transform: scale(0.9);
  transition: transform 150ms ease-in, box-shadow 0.2s linear !important;
  box-shadow: var(--shadow) !important;
}

.card-gray:hover {
  transform: scale(1);
  box-shadow: var(--shadow)
}

.card-gray img {
  max-width: 60px;
  margin-bottom: 1rem;
}


.img-fluid {
  max-width: 200px;
}

.img-fluid-map,
.img-fluid-logo {
  width: 50%;
  display: flex;
  padding: 40px;
}

.img-fluid-logo {
  padding: 0;
}

.h1-desktop {
  font-size: 45px !important;
  font-weight: 500 !important;
  font-family: var(--font-family) !important;
  color: var(--primary-color) !important;
  gap: 0;
  padding: 0;
}

.text-titulo {
  color: var(--primary-color);
  font-weight: 700;
}

.titulo-sec {
  color: var(--secondary-color);
  font-weight: bold;

}

.modal-title-center {
  text-align: center;
  color: var(--primary-color);
}

.title-container {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 11pt;
}

.slider-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
  font-family: var(--font-family);
  border-radius: 20px;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.titulo-intermed {
  font-size: medium;
}



/* Media Queries */

/* Min-width 1500px */
@media (min-width: 1500px) {
  .img-fluid {
    width: 70%;
    display: flex;
  }

  .input-area-gleba {
    border: 1px solid #ccc;
    padding: 8px;
    min-width: 60%;
    transition: border-color 0.3s;
    font-family: var(--font-family);
  }

  .img-fluid-logo {
    width: 40%;
    display: flex;
    padding-top: 0;
    padding-left: 0;
    max-width: 40%;
  }

  .card {
    margin: 10px;
  }

  .h1-desktop {
    font-size: 50px;
    font-family: var(--font-family);
  }

  .align-center-mobile,
  .centralize-mobile,
  .break-mobile {
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }

  .titulo-interm {
    text-align: center;
    font-family: var(--font-family);
  }

  .padding-mobile,
  .margem-mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-top: 10px;
  }

  .margin-top-mobile {
    margin-top: 10px !important;
    width: 100%;
  }

  .button-container {
    justify-content: center;
  }

  .button-container,
  .button,
  .button-card {
    width: 100%;
    font-family: var(--font-family);
  }
}

/* Max-width 1024px */
@media (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-content {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin-left: auto;
  }

  .button-col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    font-size: 0.9em;
    text-align: center;
    padding: 10px 10px;
  }

  .dobra {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slider-item {
    width: 100%;
    min-width: 18vh;
    max-width: none;
    margin: 10px 0;
    padding: 5px;
  }

  .whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: var(--color);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px var(--shadow);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .whatsapp-icon {
    font-size: 30px;
    color: white;
  }

  .img-fluid-map {
    width: 50%;
    display: flex;
    padding: 0px;
    margin-left: 0px;
  }

  .mobile-padding-top {
    padding-top: 30px;
  }

  .map-col,
  .align-start-var,
  .align-center-var {
    justify-content: center !important;
  }

  .button {
    border: 1px solid transparent;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    font-family: var(--font-family);
    font-size: 0.8em;
    font-weight: 500;
    padding: 10px 10px;
    text-decoration: none;
    transition: border-color 0.25s;
    width: 100%;
    background-color: var(--primary-color);
  }
}

/* Max-width 920px */
@media (max-width: 920px) {
  .header .nav-list {
    justify-content: end;
    flex-wrap: nowrap;
  }

  .header .nav-item {
    margin: 0 15px;
  }

  .slider-item {
    width: 100%;
    min-width: 17vh;
    max-width: none;
    margin: 10px 0;
    padding: 5px;
  }

  .video-wrapper {
    margin-top: 20px;
    width: 100%;
    min-width: 460px;
    aspect-ratio: 16 / 9;
  }

  .video-iframe {
    width: 100%;
    height: 100%;
  }

  .h1-desktop {
    font-size: 45px;
    font-weight: 700;
    font-family: var(--font-family);
  }

  .card-col {
    text-align: center;
    background: #F4F4F4;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 20px;
    min-height: 350px;
    min-width: 15vh;
    max-width: 80vh;
  }


  .button,
  .button-blue-card,
  .button-white {
    font-size: 0.7em;
    padding: 8px;
  }
}

/* Max-width 820px */
@media (max-width: 820px) {
  .dobra {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slider-item {
    width: 100%;
    min-width: 10vh;
    max-width: none;
    margin: 10px 0;
    padding: 5px;
  }

  .card-col {
    text-align: center;
    background: #F4F4F4;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 20px;
    min-height: 350px;
    min-width: 15vh;
    max-width: 80vh;
  }

  .button {
    font-size: 0.7em;
    padding: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    size: 25px;
  }

  .button-blue,
  .button-blue-card {
    font-size: 0.8em;
    padding: 10px;
    size: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .h1-desktop {
    font-size: 34px;
    font-weight: 700;
    font-family: var(--font-family);
  }

  .button-horas {
    font-size: 0.8em;
  }

  .text-center-um {
    white-space: nowrap;
  }
}

/* Max-width 768px */
@media (max-width: 768px) {
  .dobra {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .h1-desktop {
    font-size: 45px;
    font-weight: 700;
    font-family: var(--font-family);
  }

  .video-wrapper {
    margin-top: 20px;
    width: 100%;
    min-width: 560px;
    aspect-ratio: 16 / 9;
  }

  .video-iframe {
    width: 100%;
    height: 100%;
  }

  .button-col-dobra {
    margin-top: 20px;
  }

  .slider-item {
    width: 100%;
    min-width: 19vh;
    max-width: none;
    margin: 10px 0;
    padding: 5px;
  }
}

/* Max-width 576px */
@media (max-width: 576px) {

  .header-content,
  .nav-list {
    flex-direction: column;
    align-items: flex-end;
    font-family: var(--font-family);
  }

  .button-col {
    width: auto;
    margin-left: auto;
    font-size: 0.9em;
    text-align: center;
    padding: 10px 10px;
    font-family: var(--font-family);
  }

  .slider-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 90%;
    max-width: 35vh;
    font-family: var(--font-family);
    border-radius: 20px;
    margin: 10px auto;
  }

  .video-wrapper {
    margin-top: 20px;
    width: 100%;
    min-width: 260px;
    aspect-ratio: 16 / 9;
  }

  .video-iframe {
    width: 100%;
    height: 100%;
  }

  .button {
    font-size: 0.75em;
  }

  .button-horas {
    font-size: 0.75em;
  }

  .h1-desktop {
    font-size: 48px;
    font-weight: 700;
    font-family: var(--font-family);
  }
}